<a href="https://colab.research.google.com/github/CDdohyun/ai4ml/blob/main/w5_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# W5 - reshaping, cleaning, filtering and merging data with pandas

Practice pivoting and unstack

In [1]:
cd /content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_03

/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_03

In [2]:
import pandas as pd    #load a 'long' format data

long_df = pd.read_csv(
    'data/long_data.csv', usecols=['date', 'datatype', 'value']
).rename(
    columns={'value': 'temp_C'}    #renaming
).assign(
    date=lambda x: pd.to_datetime(x.date),   #change data type
    temp_F=lambda x: (x.temp_C * 9/5) + 32   #create a new variable
)
long_df.head()

  datatype       date  temp_C  temp_F
0     TMAX 2018-10-01    21.1   69.98
1     TMIN 2018-10-01     8.9   48.02
2     TOBS 2018-10-01    13.9   57.02
3     TMAX 2018-10-02    23.9   75.02
4     TMIN 2018-10-02    13.9   57.02

In [3]:
pivoted_df = long_df.pivot(
    index='date', columns='datatype', values='temp_C'
)
pivoted_df.head()

datatype    TMAX  TMIN  TOBS
date
2018-10-01  21.1   8.9  13.9
2018-10-02  23.9  13.9  17.2
2018-10-03  25.0  15.6  16.1
2018-10-04  22.8  11.7  11.7
2018-10-05  23.3  11.7  18.9

In [4]:
pivoted_df = long_df.pivot(
    index='date', columns='datatype', values=['temp_C','temp_F']
)
pivoted_df.head()

           temp_C             temp_F
datatype     TMAX  TMIN  TOBS   TMAX   TMIN   TOBS
date
2018-10-01   21.1   8.9  13.9  69.98  48.02  57.02
2018-10-02   23.9  13.9  17.2  75.02  57.02  62.96
2018-10-03   25.0  15.6  16.1  77.00  60.08  60.98
2018-10-04   22.8  11.7  11.7  73.04  53.06  53.06
2018-10-05   23.3  11.7  18.9  73.94  53.06  66.02

In [6]:
unstacked_df = long_df.unstack()
unstacked_df.head()

datatype  0    TMAX
          1    TMIN
          2    TOBS
          3    TMAX
          4    TMIN
dtype: object

In [7]:
multi_df = long_df.set_index(['date','datatype'])
multi_df.head()

                     temp_C  temp_F
date       datatype
2018-10-01 TMAX        21.1   69.98
           TMIN         8.9   48.02
           TOBS        13.9   57.02
2018-10-02 TMAX        23.9   75.02
           TMIN        13.9   57.02

In [9]:
multi_unstacked_df = multi_df.unstack()
multi_unstacked_df.head()

           temp_C             temp_F
datatype     TMAX  TMIN  TOBS   TMAX   TMIN   TOBS
date
2018-10-01   21.1   8.9  13.9  69.98  48.02  57.02
2018-10-02   23.9  13.9  17.2  75.02  57.02  62.96
2018-10-03   25.0  15.6  16.1  77.00  60.08  60.98
2018-10-04   22.8  11.7  11.7  73.04  53.06  53.06
2018-10-05   23.3  11.7  18.9  73.94  53.06  66.02

Practice melting and stack

In [10]:
wide_df = pd.read_csv('data/wide_data.csv')
wide_df.head()

         date  TMAX  TMIN  TOBS
0  2018-10-01  21.1   8.9  13.9
1  2018-10-02  23.9  13.9  17.2
2  2018-10-03  25.0  15.6  16.1
3  2018-10-04  22.8  11.7  11.7
4  2018-10-05  23.3  11.7  18.9

In [11]:
melted_df = wide_df.melt(
    id_vars = 'date',
    value_vars = ['TMAX','TMIN','TOBS'],
    var_name = 'temp_stats',
    value_name = 'temp_C'
)

melted_df.head()

         date temp_stats  temp_C
0  2018-10-01       TMAX    21.1
1  2018-10-02       TMAX    23.9
2  2018-10-03       TMAX    25.0
3  2018-10-04       TMAX    22.8
4  2018-10-05       TMAX    23.3

In [13]:
melted_df.sort_values(by='date', ignore_index=True).head(10)

         date temp_stats  temp_C
0  2018-10-01       TMAX    21.1
1  2018-10-01       TOBS    13.9
2  2018-10-01       TMIN     8.9
3  2018-10-02       TMAX    23.9
4  2018-10-02       TOBS    17.2
5  2018-10-02       TMIN    13.9
6  2018-10-03       TMAX    25.0
7  2018-10-03       TOBS    16.1
8  2018-10-03       TMIN    15.6
9  2018-10-04       TMAX    22.8

In [16]:
stacked = wide_df.stack()
stacked.head()

0  date    2018-10-01
   TMAX          21.1
   TMIN           8.9
   TOBS          13.9
1  date    2018-10-02
dtype: object

In [17]:
stacked_df = stacked.to_frame('temp_C')
stacked_df.head()

            temp_C
0 date  2018-10-01
  TMAX        21.1
  TMIN         8.9
  TOBS        13.9
1 date  2018-10-02

In [18]:
stacked = wide_df.set_index('date').stack()

stacked_df = stacked.to_frame('temp_C')
stacked_df.head()

                 temp_C
date
2018-10-01 TMAX    21.1
           TMIN     8.9
           TOBS    13.9
2018-10-02 TMAX    23.9
           TMIN    13.9

In [19]:
stacked_df.reset_index()

          date level_1  temp_C
0   2018-10-01    TMAX    21.1
1   2018-10-01    TMIN     8.9
2   2018-10-01    TOBS    13.9
3   2018-10-02    TMAX    23.9
4   2018-10-02    TMIN    13.9
..         ...     ...     ...
88  2018-10-30    TMIN     2.2
89  2018-10-30    TOBS     5.0
90  2018-10-31    TMAX    12.2
91  2018-10-31    TMIN     0.0
92  2018-10-31    TOBS     0.0

[93 rows x 3 columns]

In [20]:
stacked_df.reset_index().rename(columns={'level_1':'temp_stats'}).head(10)

         date temp_stats  temp_C
0  2018-10-01       TMAX    21.1
1  2018-10-01       TMIN     8.9
2  2018-10-01       TOBS    13.9
3  2018-10-02       TMAX    23.9
4  2018-10-02       TMIN    13.9
5  2018-10-02       TOBS    17.2
6  2018-10-03       TMAX    25.0
7  2018-10-03       TMIN    15.6
8  2018-10-03       TOBS    16.1
9  2018-10-04       TMAX    22.8

Practice Finding problematic data part

In [22]:
dirty_df = pd.read_csv('data/dirty_data.csv')
dirty_df.head(10)

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
0,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
1,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
2,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
3,2018-01-02T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-8.3,-16.1,-12.2,NaN,False
4,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
5,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
6,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
7,2018-01-04T00:00:00,?,20.6,229.0,inf,5505.0,-40.0,NaN,19.3,True
8,2018-01-04T00:00:00,?,20.6,229.0,inf,5505.0,-40.0,NaN,19.3,True
9,2018-01-05T00:00:00,?,0.3,NaN,NaN,5505.0,-40.0,NaN,NaN,NaN

In [23]:
dirty_df.info()   #find missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 765 entries, 0 to 764
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               765 non-null    object
 1   station            765 non-null    object
 2   PRCP               765 non-null    float64
 3   SNOW               577 non-null    float64
 4   SNWD               577 non-null    float64
 5   TMAX               765 non-null    float64
 6   TMIN               765 non-null    float64
 7   TOBS               398 non-null    float64
 8   WESF               11 non-null     float64
 9   inclement_weather  408 non-null    object
dtypes: float64(7), object(3)
memory usage: 59.9+ KB

In [27]:
dirty_df.isna()

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
0,False,False,False,False,False,False,False,True,True,True
1,False,False,False,False,False,False,False,True,True,True
2,False,False,False,False,False,False,False,True,True,True
3,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...
760,False,False,False,False,False,False,False,False,True,False
761,False,False,False,False,False,False,False,False,True,False
762,False,False,False,False,False,False,False,False,True,False
763,False,False,False,False,False,False,False,True,True,True
764,False,False,False,False,False,False,False,True,True,True

In [24]:
contain_nans = dirty_df[dirty_df.isna()]
contain_nans.shape[0]

765

In [25]:
contain_nans.head()

  date station  PRCP  SNOW  SNWD  TMAX  TMIN  TOBS  WESF inclement_weather
0  NaN     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN               NaN
1  NaN     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN               NaN
2  NaN     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN               NaN
3  NaN     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN               NaN
4  NaN     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN               NaN

In [26]:
contain_nans = dirty_df[dirty_df.SNOW.isna() | dirty_df.SNWD.isna() | dirty_df.TOBS.isna() | dirty_df.WESF.isna() |
                        dirty_df.inclement_weather.isna()]  #how to select rows containing missing values

contain_nans.head()

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
0,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
1,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
2,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
3,2018-01-02T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-8.3,-16.1,-12.2,NaN,False
4,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False

In [29]:
import numpy as np

In [30]:
def get_inf_count(df):   #find all invalid values
    """Find the number of inf/-inf values per column in the dataframe"""
    return {
        col: df[df[col].isin([np.inf, -np.inf])].shape[0] for col in df.columns
    }

get_inf_count(dirty_df)

{'date': 0,
 'station': 0,
 'PRCP': 0,
 'SNOW': 0,
 'SNWD': 577,
 'TMAX': 0,
 'TMIN': 0,
 'TOBS': 0,
 'WESF': 0,
 'inclement_weather': 0}

In [39]:
contain_infs = dirty_df[(dirty_df.SNWD == np.inf) | (dirty_df.SNWD == -np.inf)]
contain_infs.head(10)

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
0,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
1,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
2,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
3,2018-01-02T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-8.3,-16.1,-12.2,NaN,False
4,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
5,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
6,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
7,2018-01-04T00:00:00,?,20.6,229.0,inf,5505.0,-40.0,NaN,19.3,True
8,2018-01-04T00:00:00,?,20.6,229.0,inf,5505.0,-40.0,NaN,19.3,True
11,2018-01-05T00:00:00,GHCND:USC00280907,14.2,127.0,inf,-4.4,-13.9,-13.9,NaN,True

In [32]:
dirty_df.describe(include='object')

                       date            station inclement_weather
count                   765                765               408
unique                  324                  2                 2
top     2018-07-05T00:00:00  GHCND:USC00280907             False
freq                      8                398               384

In [33]:
dirty_df[dirty_df.duplicated()].head()

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
1,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
2,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
5,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
6,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
8,2018-01-04T00:00:00,?,20.6,229.0,inf,5505.0,-40.0,NaN,19.3,True

In [36]:
dirty_df[dirty_df.duplicated(['date','station'])].head()

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
1,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
2,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
5,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
6,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
8,2018-01-04T00:00:00,?,20.6,229.0,inf,5505.0,-40.0,NaN,19.3,True

In [34]:
dirty_df[dirty_df.duplicated()].shape[0]

284

In [35]:
dirty_df[dirty_df.duplicated(keep=False)].shape[0]

482

Practice Mitigating Issues part

In [40]:
df = dirty_df

In [52]:
# 1. make the date a datetime
df.date = pd.to_datetime(df.date)

# 2. save this information for later
station_qm_wesf = df[df.station == '?'].drop_duplicates('date').set_index('date').WESF

# 3. sort ? to the bottom
df.sort_values('station', ascending=False, inplace=True)

# 4. drop duplicates based on the date column keeping the first occurrence 
# which will be the valid station if it has data
df_deduped = df.drop_duplicates('date')

# 5. remove the station column because we are done with it
df_deduped = df_deduped.drop(columns='station').set_index('date').sort_index()

# 6. take valid station's WESF and fall back on station ? if it is null
df_deduped = df_deduped.assign(
    WESF=lambda x: x.WESF.combine_first(station_qm_wesf)
)

df_deduped.shape

(324, 8)

In [42]:
df_deduped.head()

            PRCP   SNOW  SNWD    TMAX  TMIN  TOBS  WESF inclement_weather
date
2018-01-01   0.0    0.0  -inf  5505.0 -40.0   NaN   NaN               NaN
2018-01-02   0.0    0.0  -inf    -8.3 -16.1 -12.2   NaN             False
2018-01-03   0.0    0.0  -inf    -4.4 -13.9 -13.3   NaN             False
2018-01-04  20.6  229.0   inf  5505.0 -40.0   NaN  19.3              True
2018-01-05  14.2  127.0   inf    -4.4 -13.9 -13.9   NaN              True

In [43]:
df_deduped.dropna().shape

(4, 8)

In [44]:
df_deduped.dropna(how='all').shape

(324, 8)

In [45]:
df_deduped.dropna(
    how='all', subset=['inclement_weather', 'SNOW', 'SNWD']
).shape

(293, 8)

In [46]:
df.columns

Index(['date', 'station', 'PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN', 'TOBS',
       'WESF', 'inclement_weather'],
      dtype='object')

In [47]:
df_deduped.dropna(axis='columns', thresh=df_deduped.shape[0] * .75).columns

Index(['PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN', 'TOBS', 'inclement_weather'], dtype='object')

In [53]:
df_deduped.loc[:,'WESF'].fillna(0, inplace=True)
df_deduped.head()

            PRCP   SNOW  SNWD    TMAX  TMIN  TOBS  WESF inclement_weather
date
2018-01-01   0.0    0.0  -inf  5505.0 -40.0   NaN   0.0               NaN
2018-01-02   0.0    0.0  -inf    -8.3 -16.1 -12.2   0.0             False
2018-01-03   0.0    0.0  -inf    -4.4 -13.9 -13.3   0.0             False
2018-01-04  20.6  229.0   inf  5505.0 -40.0   NaN  19.3              True
2018-01-05  14.2  127.0   inf    -4.4 -13.9 -13.9   0.0              True

In [54]:
df_deduped.assign(
    TMAX=lambda x: x.TMAX.replace(5505, np.nan),
    TMIN=lambda x: x.TMIN.replace(-40, np.nan),
).head()

            PRCP   SNOW  SNWD  TMAX  TMIN  TOBS  WESF inclement_weather
date
2018-01-01   0.0    0.0  -inf   NaN   NaN   NaN   0.0               NaN
2018-01-02   0.0    0.0  -inf  -8.3 -16.1 -12.2   0.0             False
2018-01-03   0.0    0.0  -inf  -4.4 -13.9 -13.3   0.0             False
2018-01-04  20.6  229.0   inf   NaN   NaN   NaN  19.3              True
2018-01-05  14.2  127.0   inf  -4.4 -13.9 -13.9   0.0              True

In [55]:
df_deduped.assign(
    TMAX=lambda x: x.TMAX.fillna(method='ffill'),
    TMIN=lambda x: x.TMIN.fillna(method='ffill'),
    TOBS=lambda x: x.TOBS.fillna(method='bfill')
).head()

            PRCP   SNOW  SNWD    TMAX  TMIN  TOBS  WESF inclement_weather
date
2018-01-01   0.0    0.0  -inf  5505.0 -40.0 -12.2   0.0               NaN
2018-01-02   0.0    0.0  -inf    -8.3 -16.1 -12.2   0.0             False
2018-01-03   0.0    0.0  -inf    -4.4 -13.9 -13.3   0.0             False
2018-01-04  20.6  229.0   inf  5505.0 -40.0 -13.9  19.3              True
2018-01-05  14.2  127.0   inf    -4.4 -13.9 -13.9   0.0              True

In [56]:
df_deduped.assign(
    SNWD=lambda x: np.nan_to_num(x.SNWD)  #무한 값을 무한에 가까운 '실수'로 처리
).head()

,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
date,,,,,,,,
2018-01-01,0.0,0.0,-1.797693e+308,5505.0,-40.0,NaN,0.0,NaN
2018-01-02,0.0,0.0,-1.797693e+308,-8.3,-16.1,-12.2,0.0,False
2018-01-03,0.0,0.0,-1.797693e+308,-4.4,-13.9,-13.3,0.0,False
2018-01-04,20.6,229.0,1.797693e+308,5505.0,-40.0,NaN,19.3,True
2018-01-05,14.2,127.0,1.797693e+308,-4.4,-13.9,-13.9,0.0,True

Practice Filtering data

In [58]:
cd /content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_04

/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_04

In [59]:
import pandas as pd

weather = pd.read_csv('data/nyc_weather_2018.csv')
weather.head()

                  date datatype            station attributes  value
0  2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0

In [60]:
weather[
    (weather.datatype == 'SNOW') 
    & (weather.value > 0)
    & weather.station.str.contains('US1NY')
].head()

                    date datatype            station attributes  value
114  2018-01-01T00:00:00     SNOW  GHCND:US1NYWC0019       ,,N,   25.0
789  2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0007       ,,N,   41.0
794  2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0018       ,,N,   10.0
798  2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0024       ,,N,   89.0
800  2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0030       ,,N,  102.0

Find all entries where datatype is “PRCP“ and station
ID containing “S0007”

In [61]:
weather[(weather.datatype == 'PRCP') & (weather.station.str.contains('S0007'))].head()

                     date datatype            station attributes  value
79    2018-01-01T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    0.0
311   2018-01-02T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    0.0
545   2018-01-03T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    0.0
788   2018-01-04T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    4.1
1044  2018-01-05T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,   18.0

How many unique values in “attributes” variable?
- What is the most frequent one?

In [62]:
weather.attributes.value_counts()

,,N,         34153
,,W,         21241
,,7,0700      8534
,,W,2400      6641
,,7,          2679
T,,N,         1886
H,,S,         1095
,,7,0800      1034
,,7,0630       715
T,,W,2400      293
T,,W,          250
T,,7,0700      137
T,,7,           50
,L,N,           29
,,Z,             7
T,,7,0630        6
,Z,7,0700        6
,I,N,            5
,,N,0700         4
,Z,W,            4
T,,N,0700        3
,Z,7,            2
,,Z,0700         2
T,I,N,           2
,G,7,0800        1
,S,W,2400        1
Name: attributes, dtype: int64

In [63]:
weather.attributes.value_counts().idxmax()   #most frequent one

',,N,'

Practice Merging DataFrames

In [64]:
station_info = pd.read_csv('data/weather_stations.csv')
station_info.head()

,id,name,latitude,longitude,elevation
0,GHCND:US1CTFR0022,"STAMFORD 2.6 SSW, CT US",41.064100,-73.577000,36.6
1,GHCND:US1CTFR0039,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
2,GHCND:US1NJBG0001,"BERGENFIELD 0.3 SW, NJ US",40.921298,-74.001983,20.1
3,GHCND:US1NJBG0002,"SADDLE BROOK TWP 0.6 E, NJ US",40.902694,-74.083358,16.8
4,GHCND:US1NJBG0003,"TENAFLY 1.3 W, NJ US",40.914670,-73.977500,21.6

In [65]:
inner_join = weather.merge(station_info, left_on='station', right_on='id')
inner_join.head(10)

,date,datatype,station,attributes,value,id,name,latitude,longitude,elevation
0,2018-01-01T00:00:00,PRCP,GHCND:US1CTFR0039,",,N,",0.0,GHCND:US1CTFR0039,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
1,2018-01-02T00:00:00,PRCP,GHCND:US1CTFR0039,",,N,",0.0,GHCND:US1CTFR0039,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
2,2018-01-03T00:00:00,PRCP,GHCND:US1CTFR0039,",,N,",0.0,GHCND:US1CTFR0039,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
3,2018-01-05T00:00:00,DAPR,GHCND:US1CTFR0039,",,N,",2.0,GHCND:US1CTFR0039,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
4,2018-01-05T00:00:00,MDPR,GHCND:US1CTFR0039,",,N,",15.5,GHCND:US1CTFR0039,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
5,2018-01-05T00:00:00,SNWD,GHCND:US1CTFR0039,",,N,",191.0,GHCND:US1CTFR0039,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
6,2018-01-06T00:00:00,PRCP,GHCND:US1CTFR0039,",,N,",0.0,GHCND:US1CTFR0039,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
7,2018-01-07T00:00:00,PRCP,GHCND:US1CTFR0039,",,N,",0.0,GHCND:US1CTFR0039,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
8,2018-01-08T00:00:00,PRCP,GHCND:US1CTFR0039,",,N,",0.0,GHCND:US1CTFR0039,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
9,2018-01-09T00:00:00,PRCP,GHCND:US1CTFR0039,",,N,",0.0,GHCND:US1CTFR0039,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4